{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="page-header">Event generator</h1>
            <p class="lead">Pick a nickname and have a fun with this fantastic Event Generator!</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}