{% extends 'base.html.twig' %}

{% block title %}Lovely Friday{%  endblock %}

{% block body %}

    CREATE ORDER
    <p>The code to manage the order is: {{ manOrderCode }}</p>
    <p>The code to join the order is: {{ joinOrderCode }}</p>
{% endblock %}